/* ? Start variables */
:root {
    --main-color: #336699;
    --light-main-color: #3377AA;
    --dark-main-color: #335577;
    --writing-main-color: #ffffff ;
}
/* ? End variables */


/* ? Start Css globel reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 250px;
}
ul {
 list-style: none;
}
.container {
   padding: 10px 50px; 
}

/* ? End Css globel reset */

/* ? Start main */

/* ? Start Nav */
.main {
 min-height: 100vh;
 background-image: url("../img/infinite-loop-01.jpg");
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 background-position: center;
}
.main .container nav {
 display: flex;
 justify-content: space-between;
}
.main .container nav .logo a p {
    margin: 10px 15px;
}
.main .container nav .logo a {
 color: var(--writing-main-color);
 font-size: 23px;
 text-decoration: none;
 font-weight: bold;
}
.main .container nav .logo a:hover {
 color: var(--light-main-color);
}
.main .container nav .links ul {
 display: flex;
}
.main .container nav .links .burger_menu {
    display: none;
}
@media (max-width: 992px) {
    .main .container nav .links  ul {
       display: none;
    }
    .main .container nav .links .burger_menu  i ul {
        display: none;
        position: absolute;
        right: 100%;
        top: 50%;
        background-color: var(--writing-main-color);
        border: 1px solid var(--writing-main-color);
        border-radius: 15px;
    }
    .main .container nav .links .burger_menu  i ul li a p {
        color: rgb(78, 77, 77);
    }
    .main .container nav .links .burger_menu {
        display: block;
        position: absolute;
        right: 10%;
        margin: 10px 25px;
    }
    .main .container nav .links .burger_menu i {
        font-size: 20px;
        color: var(--writing-main-color);
    }
    .main .container nav .links .burger_menu  i:hover ul {
        display: block;
        z-index: 2;
    }  
}
.main .container nav .links ul li a {
    color: var(--writing-main-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 1px;
} 
.main .container nav .links ul li a p {
    margin: 10px 32px;
}
.main .container nav .links ul li:hover  {
    background-color: var(--main-color);
}
/* ? End Nav */


/* ? Start main_Text */
.main .container .main_text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -80%);
}
.main .container .main_text .title {
color: var(--writing-main-color);
font-size: 56px;
font-weight: 1;
margin: 0;
text-shadow: 2px 2px 8px black;
}
.main .container .main_text p {
color: var(--writing-main-color);
font-size: 20px;
font-weight: 1;
line-height: 2;
text-align: center;
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.562);
}
.main .container .arrow  {
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50% , -50%);
background-color: var(--dark-main-color);
}
.main .container .arrow:hover i {
    margin: 20px 45px;
}
.main .container .arrow:hover {
    background-color: var(--light-main-color);
}
.main .container .arrow i {
color: var(--writing-main-color);
font-size: 35px;
margin: 15px 40px;
transition: 0.3s;   
}
@media (max-width: 768px) {
    .main .container .main_text .title {
        text-align: center;
    }
}


/* ? End main_Text */


/* ? End main */


/* ? Start Services */
.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ? Start services_Text */
.services .container .Text {
padding-bottom: 80px;
}
.services .container .Text h3 {
font-size: 42px ;
font-weight: 1;
color: var(--light-main-color);
padding-bottom: 20px;
}
.services .container .Text p {
color: #707070;
font-size: 20px;
line-height: 2;
}
.services .container .Text p a {
color: #3388BB;
text-decoration: none;
}
@media (max-width:992px) {
    .services .container .Text h3 {
        text-align: center;
    }
    .services .container .Text p {
        text-align: center;
    }
}
/* ? End services_Text */


/* ? Start grid_services */
.services .container .grid_services {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    grid-column-gap:40px ;
    grid-row-gap:60px ;
}
.services .container .grid_services .box {
    display: flex;
    padding-bottom: 50px;
}
.services .container .grid_services .box .icon i {
    color: var(--light-main-color);
    font-size: 58px;
    padding-bottom: 15px; 
}
.services .container .grid_services .box .text {
    padding: 0 15px;
}
.services .container .grid_services .box .text h3 {
    color: #3388BB;
    font-size: 32px;
    padding-bottom: 15px;
}
.services .container .grid_services .box .text p {
    color: #707070;
    line-height: 2;
    font-size: 19.2px;
    font-weight: 1;
}
.services .container .grid_services .box .text p a {
color: #3388BB;
text-decoration: none;
}
.services .container .grid_services .box .text a.box {
    padding-top: 20px;
    text-decoration: none;  
}
.services .container .grid_services .box .text a.box p {
color: var(--writing-main-color);
text-decoration: none;
background-color: var(--main-color);
padding: 10px 30px;
border: 1px solid var(--main-color);
border-radius: 15px;
}
.services .container .grid_services .box .text a.box p:hover {
    background-color: var(--light-main-color);
    border: 1px solid var(--light-main-color);
}
@media (max-width: 992px) {
    .services .container .grid_services .box {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .services .container .grid_services .box .icon  {
        display: block;
        text-align: center;
    }
    .services .container .grid_services .box .text h3 {
       text-align: center;
    }
    .services .container .grid_services .box .text p {
        text-align: center;
    }
    .services .container .grid_services .box .text a.box {
        display: block;
        left: 50%;
        transform: translateX(-10%);
    }
    .services .container .grid_services .box .text a.box p {
        width: 158px;
    }
}
@media (max-width: 768px) {
    .services .container .grid_services .box {
        width: 280px;
    }
    .services .container .grid_services .box .icon  {
        text-align: start ;
        font-size: 58px;
    }
    .services .container .grid_services .box .text {
        padding: 0;
    }
    .services .container .grid_services .box .text h3 {
        text-align: start;
        font-size: 35px;
    }
    .services .container .grid_services .box .text p {
        text-align: start ;
        font-size:20px;
    }
    .services .container .grid_services .box .text a.box {
        margin: 0;
        left: 0%;
        transform: translateX(0);
        width: 100%;
    }
    .services .container .grid_services .box .text a.box p {
        width: 200px;
    }
}
/* ? End grid_services */


/* ? End Services */


/* ? Start  Testimonials */
.testimonials {
    background-image: url(../img/infinite-loop-02.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.testimonials .container {
    position: relative;
}
.testimonials .container .main_text h3 {
text-align: center;
padding: 80px 0 40px 0;
color: var(--writing-main-color);
font-size: 42px;
font-weight: 1;

}
.testimonials .container .main_text p {
text-align: center;
padding-bottom: 40px;
color: var(--writing-main-color);
line-height: 2;
font-size: 18px;
font-weight: 1;
}
.testimonials .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-column-gap:30px;
    grid-row-gap:20px ;
}
@media (max-width:1077px) {
    .testimonials .container .box:last-child {
       display: none;
    }
}
@media (max-width:747px) {
    .testimonials .container .box:nth-child(2) {
       display: none;
    }
}
.testimonials .container .boxes .box .image {
    display: flex;
    padding-bottom: 20px ;
}
.testimonials .container .boxes .box .image img {
    border-radius: 50%;
    margin: 0 auto;
}
.testimonials .container .boxes .box blockquote {
    text-align: start;
    padding-bottom: 20px ;
    line-height: 1.8;
    color: var(--writing-main-color);
    font-size: 17px;
    font-weight: 500;
}
.testimonials .container .boxes .box figcaption {
    text-align: end;
    color: var(--writing-main-color);
    font-size: 18px;
}
.testimonials .container .three_dots {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  display: flex;
}
.testimonials .container .three_dots span:nth-child(1) {
  width: 20px;
  height: 20px;
  border: 1px solid var(--writing-main-color);
  border-radius: 50%;
  margin-right: 10px;
}
.testimonials .container .three_dots span:nth-child(2) {
  width: 20px;
  height: 20px;
  border: 1px solid var(--writing-main-color);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--light-main-color);
}
.testimonials .container .three_dots span:nth-child(3) {
  width: 20px;
  height: 20px;
  border: 1px solid var(--writing-main-color);
  border-radius: 50%;
  margin-right: 10px;
}
.testimonials .container .three_dots span:hover:nth-child(1) ,
.testimonials .container .three_dots span:hover:nth-child(3) {
    background-color: var(--light-main-color);
}
.testimonials .container .three_dots span:hover:nth-child(2) {
    border: 1px solid var(--light-main-color);
    background-color: var(--writing-main-color);
}
/* ? End  Testimonials */